# Sistema
*.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini

# Arquivos de build
[Bb]in/
[Oo]bj/
**/bin/
**/obj/
**/[Dd]ebug*/
**/[Rr]elease*/
*.exe
*.dll
*.pdb
*.cache
*.ilk
*.log
*.vspscc
*.vssscc
*.tmp
*.user
*.userosscache
*.suo
*.sln.docstates

# Arquivos gerados pelo Visual Studio
.vscode/
.vs/
.vs/*/*.suo
.vs/*/*.user
.vs/*/*.userosscache
.vs/*/*.sln.docstates
*.suo
*.user
*.userosscache
*.sln.docstates
*.VC.db

# Diretório de pacotes NuGet
packages/
*.nupkg
project.lock.json
project.fragment.lock.json
artifacts/

# Diretório de build no Azure
site/wwwroot/

# Arquivos de configuração locais
appsettings.*.json
appsettings.Development.json

# Arquivos de log
*.log
*.tlog
*.log2

# Arquivos de publicação
.publish/

# Arquivos gerados por ferramentas de teste
TestResults/
*.coverage
*.coveragexml
*.trx
*.testsettings
*.runsettings

# Arquivos de backup e temporários
_backup/
_UpgradeReport_Files/
_ReSharper.*/
*.bak
*.cache
*.tmp
*.tmp/*
*.log

# Arquivos de IDEs (Ex: Rider, VSCode, etc.)
.idea/
*.sublime-workspace
*.sublime-project
*.code-workspace

# Diretórios de compilação específicos
node_modules/
dist/
build/
coverage/